# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.wasm

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Debugging file
debug

# Development certificates and keys
*.crt
*.key

# Prevent binary zip files from being commited
*.zip

# Allow .tmp folder to be used for sotring files  
.tmp
